{% load static %}
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>Blog test</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/blogAG.css' %}">
    </head>
<body>
    <div class="page-header">
                <h1>Strona testowa</h1>
        </div>
        <div>
        <em>taki tekst z odstepem br </em><br>
        <strong>czemu to nie jest bold tylko strong?</strong><br>
        <a href="https://google.com">LINK_DO_GOOGLE</a>
        </div>
    <div class="list">
        <ul>
        <li>element list</li>
        <li>element list</li>
        <li>element list</li>
        <li>pamietaj o div</li>
        </ul>
    </div>

    <p>Tutaj beda komentarze</p>
    {% endcomment %}
<div class="content container">
    <div class="row">
    {% for post in posts %}
    <div class="col-md-8">
        <div class="post">
        <div class="data">
            <p>opublikowany post:{{ post.publish_date }}</p>
        </div>
        <h2><a href="">{{ post.title }}</a> </h2>
        <em>{{ post.text }}</em>
        {% endfor %}
        </div>
    </div>
</div>
</div>
    <div class="stopka">

    </div>
</body>
</html>